* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: max-content;
    margin: 60px auto;

}

.article {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 40px 40px 45px 35px;
}

.orange {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dark-cyan {
    background-color: hsl(184, 100%, 22%);
}

.very-dark-cyan {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.descripcion {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.modelo-auto {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 30px;
    border-radius: 25px;
    margin-top: 20px;
}

.btn-1 {
    color: hsl(31, 77%, 52%);
}

.btn-2 {
    color: hsl(184, 100%, 22%);
}

.btn-3 {
    color: hsl(179, 100%, 13%);
}


@media (min-width: 1440px) {
    .main {
        width: 78%;
        height: 65%;
        margin: 80px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .article {
        width: 26%;
        height: 480px;
    }

    .btn {
        margin-top: 75px;
    }

    .orange {
        border-radius: 10px 0px 0px 10px;
    }
    
    .very-dark-cyan {
        border-radius: 0px 10px 10px 0px;
    }

    .btn:active {
        border: solid 2px hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
        background-color: inherit;
        cursor: pointer;
        transition: all 0.1ms;
    }
}